.welcome-section {
  padding: 64px 0;
  background-color: #e0cbb4;
  /* padding: 64px 16px; */
  height: 885px;
}
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.container {
}
.welcome-header {
}
.welcome-tagline {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 16px;
}
.welcome-heading {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 32px;
}
.welcome-content {
}
.welcome-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 32px;
}
.welcome-button {
  border-radius: 100px;
  padding: 10px 24px;
  width: 288px;
  height: 44px;
  box-shadow:
    0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 32px;
}
.welcome-button-icon {
  fill: #fff;
  margin-left: 12px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.welcome-image {
  border-radius: 40px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

